/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    
}

table {
    width: 100%;
}

mat-card {
    margin: 25px auto;
}

mat-card-header {
    font-size: larger;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 575px) {
    mat-card {
        margin: 0 auto 25px;
    }
}