<mat-card class="welcome-card" color="primary" *ngIf="!loginService.loggedIn">
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <mat-card-content class="logo-container">
                                <img mat-card-image src="../../assets/icons/icon-512x512.png" alt="Calorie Counter Logo">
                            </mat-card-content>
                            <h1>MyCal - Calorie Tracker</h1>
                            <p class="p-heading p-large">Welcome! MyCal is a simple nutrition app that helps you keep track of your diet and exercise.</p>
                            <button style="color: blue;" mat-raised-button color="primary" *ngIf="loginService.loggedIn === false" [routerLink]="['/login']">Get Started</button>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
</mat-card>
<app-diary *ngIf="loginService.loggedIn && profileService.user?.goal"></app-diary>